.repo--list-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.repo--title-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.repo--name {
  color: black;
}

.repo--desc {
  font-size: 14px;
}

.repo--no-desc {
  font-size: 14px;
  font-style: italic;
  color: gray;
}
