.card-image--container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  background: #7daa9f;
}

.card-image--img {
  height: 200px;
  border-radius: 50%;
  margin: 1rem 0;
}
