.user-info--container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-info--img {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  vertical-align: middle;
}

.user-info--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
