.card--wrapper {
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.3);
}
